<!DOCTYPE html>
<html>
	<head>
		<meta content="utf-8" http-equiv="encoding">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	</head>
    <body>
        <div id="sidebar">
            <div id="node-detail-menu"></div>
            <div id="property-menu"></div>
            <button type="button" id="start">start</button>
            <button type="button" id="stop">stop</button>
            <button type="button" id="reset">reset</button>

              <div id="slider"></div>
              <div id="rangedval">
                Range Value: <span id="rangeval">0 - 5</span>
              </div>
              
              <div id="rangeslider"></div>
  
        </div>
        <!--
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                  crossorigin="anonymous"></script> -->
        
        <script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3-tip.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3-legend.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/colorbrewer.js') }}"></script>

        <!-- script src="{{ url_for('static', filename='js/loader.js') }}"></script-->
        <script>
            var data = JSON.parse('{{ data | tojson | safe}}');
            var device_types = {};
            var parent_id = '{{ parent }}'
            var levels = parent_id.split("_")
            var level;
            if (levels[0] == "base") {
                level = levels.length - 1
            } else {
                level = 4
            }

            $('#slider').slider({
                range: true,
                min: 0,
                max: 10,
                values: [ 0, 5 ],
                slide: function( event, ui ) {
                  $('#rangeval').html(ui.values[0]+" - "+ui.values[1]);
                }
            });
        </script>
        <script src="{{ url_for('static', filename='js/animator.js') }}"></script>
        <script src="{{ url_for('static', filename='js/grapher.js') }}"></script>
        <script src="{{ url_for('static', filename='js/runner.js') }}"></script>
    </body>
</html>