<!DOCTYPE html>
<html>
	<head>
		<meta content="utf-8" http-equiv="encoding">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
    <body>
        <div id="sidebar">
            <div id="node-detail-menu"></div>
            <div id="property-menu"></div>
            <button type="button" id="start">start</button>
            <button type="button" id="stop">stop</button>
            <button type="button" id="reset">reset</button>
        </div>
        <!--
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                  crossorigin="anonymous"></script> -->
        
        <script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3-tip.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3-legend.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/colorbrewer.js') }}"></script>

        <!-- script src="{{ url_for('static', filename='js/loader.js') }}"></script-->
        <script>
            var data = JSON.parse('{{ data | tojson | safe}}');
            console.log(data)
            var device_types = {};
        </script>
        <script src="{{ url_for('static', filename='js/graph_builder.js') }}"></script>
        <script src="{{ url_for('static', filename='js/graph_runner.js') }}"></script>
    </body>
</html>