<!DOCTYPE html>
<html>
	<head>
		<meta content="utf-8" http-equiv="encoding">
	</head>
    <body>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                  crossorigin="anonymous"></script>

        
        <script src="static/js/lib/d3.js"></script>
        <script src="static/js/lib/d3-legend.js"></script>
        <script src="static/js/lib/colorbrewer.js"></script>

        <script src="static/js/device_builder.js"></script>
    </body>
</html>