body {
	background-color: #222222;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


#viewport {
	background-color: #ffffff;
	border: solid 2px #dddddd;
	float: left;
	width: 60vw;
	margin: 10px;

}

#infobar {
	display: none;
}

#sidebar {
	display: inline-block;
	float: left;
	margin: 10px;
	width: 36vw;
	position: relative;

}

#sidebar-footer-btns {
	margin: 15px;
	text-align: center;
}

#sidebar-footer-btns > i{
	margin: 0 15px;
}

g.nodes > * {
	cursor: pointer;
}

.selected-node {
	stroke: #000000;
}

.tooltip {
  position: absolute;
  display: none;
  min-width: 120px;
  height: auto;
  background: none repeat scroll 0 0 rgba(216, 235, 255, 0.7);
  /*border: 1px solid gray;*/
  border-radius: 8px;
  padding: 14px;
  text-align: left;
  color: #333;
}

td:first-child {
	font-weight: 700;
}

.border-node {
	display: none;
}

.subborder-node {
	opacity: 0.5;
}

.slider {
	margin: 30px;
	cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle {
	cursor: pointer;
}

.slider-val {
	text-align: center;
	font-size: 1.2em;
}

#animation-btns {
	margin: 15px;
	text-align: center;
}

#property-menu {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.5em;
	padding-top: 10px;
	margin: 0;
}

i {
	cursor: pointer;
}

i:hover {
	color: #00a9f6;

}

i.disabled {
	color: #666;
	cursor: default;
}

.material-icons.md-36 { font-size: 36px; }

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
  position: relative;
  font-size: 16px;
  line-height: 25px;
  margin:0 0 0 25px;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  background: white;
  border: 1px solid gray;
  box-shadow: inset 0px 0px 0px 2px white;
  -webkit-box-shadow: inset 0px 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 0px 2px white;
  -o-box-shadow: inset 0px 0px 0px 2px white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

input[type="radio"] + label:hover:before {

  background: #ccc;
  cursor: pointer;
}

input[type="radio"]:checked + label:before {
  background: #00a9f6;
}