body {
	background-color: #333333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


#viewport {

	background-color: #ffffff;
	border: solid 2px #dddddd;
	float: left;
	width: 60vw;
	margin: 10px;

}

#sidebar {
	display: inline-block;
	float: left;
	margin: 10px;
	color: #dddddd;
	width: 36vw;

}

#property-menu {
	margin: 15px;
}

button {
	display: inline-block;
}

g.nodes > * {
	cursor: pointer;
}

.selected-node {
	stroke: #000000;
}

.tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: left;
}

.border-node {
	display: none;
}

.subborder-node {
	opacity: 0.5;
}

#slider {
	margin: 15px;
}

#rangedval {
	text-align: center;
}

#animation-btns {

	margin: 15px;
	text-align: center;
}

button {
	margin-left: 15px;
	margin-right: 15px;
}